* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    margin: 20px 0 70px 60%;
}

.top-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 29px;
    margin-right: 23px;
    color: #8C7C6D;
    cursor: pointer;
}

.top-button {
    width: 80px;
    height: 25px;
    border-radius: 5px 24px 24px 24px;
    background-color: #B77647;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    border: 2px solid #854416;
}

.imglogo {
    width: 568px;
    height: 400px;
    margin-left: 100px;
    display: inline-block;
}

section {
    display: inline-block;
    margin-left: 86px;
}

h1 {
    font-weight: 900;
    font-size: 80px;
    line-height: 120px;
    text-align: center;
    color: #B77647;
}

h2 {
    font-weight: 500;
    font-size: 30px;
    line-height: 5px;
    text-align: center;
    color: #8C7C6D;
}

p {
    width: 515px;
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    margin: 32px 0 44px;
}

.section-button {
    width: 180px;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    background-color: #4C2A6C;
    border-radius: 10px 30px 5px 30px;
    color: #ffffff;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.section-button:hover {
    width: 190px;
    transition: all 0.3s ease;
}


@media screen and (max-width: 1920px) {

    header {
        margin: 20px 0 60px 50%px;
    }

    .top-link {
        line-height: 24px;
        margin-right: 14px;
    }
}