* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    margin: 44px 0 70px 60%;    
}

.top-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 29px;
    margin-right: 23px;
    color: #8C7C6D;
    cursor: pointer;
}

.top-button {
    width: 80px;
    height: 25px;
    border-radius: 5px 24px 24px 24px;
    background-color: #B77647;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    border: 2px solid #854416;
}

.imglogo {
    width: 568px;
    height: 400px;
    margin-left: 100px;
}