* {
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    margin: 44px 0 144px 76px;
}

.link {
    font-weight: 600;
    font-size: 24px;
    line-height: 29.26px;
    color: #989D9C;
    margin-right: 23px;
    cursor: pointer;
}

.button-login {
    width: 130px;
    height: 41px;
    border-radius: 50px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 24px;
    line-height: 29.26px;
    background: #665AE0;
    border: none;
    cursor: pointer;
}

.image {
    width: 568px;
    height: 500px;
    display: inline-block;
    margin-left: 125px;
}

section {
    display: inline-block;
    margin-left: 86px;
}

h1 {
    font-weight: 900;
    line-height: 121.9px;
    color: #515151;
    font-size: 100px;
}

h2 {
    font-weight: 500;
    line-height: 70.7px;
    font-size: 58px;
    color: #515151;
}

p {
    font-weight: 400;
    font-size: 24px;
    line-height: 29.26px;
    color: #848484;
    width: 515px;
    margin: 32px 0 65px;
}

.button-explore {
    width: 239px;
    height: 64px;
    border-radius: 30px;
    background: #ADFF00;
    border: none;
    box-shadow: 0px 4px 4px 0px #00000040;
    color:#000000;
    font-weight: 700;
    font-size: 28px;
    line-height: 34.13px;
    cursor: pointer;
}